<h1>search</h1>
<form action="/search" method="POST">
    <label for="ingredient">Ingredient:</label>
    <input type="text" name="ingredient" required>
    <button type="submit">I am hungry</button>
</form>