<h1>Signup page</h1>

<form method="POST" action="/auth/signup">
  <div class="username">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="usernameInput" aria-describedby="username" name="username" required>
  </div>

  <div class="userEmail">
    <label for="userEmail" class="form-label">Email</label>
    <input type="text" class="form-control" id="userEmailInput" aria-describedby="userEmail" name="userEmail" required>
  </div>

  <div class="password">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput" name="password" required minlength="3" maxlength="10">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if errorMessage}}
  <div>
   <p class="error-message"> {{ errorMessage }}</p>
  </div>
{{/if}}