<h2>Recipes</h2>
<a href="/private/recipes/create">Add new recipe</a>
<a href="/private/recipes/search">Search for more recipies</a>
<div>
    {{#each data}}
    <div>
        <p>Title: {{ title }}</p>
        <form action="/private/recipes/{{id}}/view-recipe" method="POST">
            <button type="submit">Check this out</button>
        </form>
        <p>Image: <img src={{ image }} alt="food"></p>
        <p>Like: {{ likes }}</p>
    </div>
    {{/each}}
</div>